<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Justified Nav Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">The Bobcat Food Truck</h3>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Current Location</a></li>
          <li><a href="#">Where's my Food From?</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
 <!-- Jumbotron -->
    <div class="row">
      <div class="jumbotron">
        <h1>Request the Truck!</h1>
        <p class="lead">Choose Location, Time and Cuisine! </p>
        <div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 Frye</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Zoo House</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">The Village</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vail</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">9pm-10pm</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10pm-11pm</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11pm-12am</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mexican</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Paninis</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Asian Fusion</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Request Now &raquo;</a></p>
      </div>
      <div class="jumbotron">
        <h1>Place an Order</h1>
        <p class="lead">Place an Order for Pick Up</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Order Now &raquo;</a></p>
      </div>
    </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Request the Truck</h2>
          <p>Choose Location, Time and Cuisine! </p>
          <p><a class="btn btn-primary" href="#" role="button">Request Now &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Place an Order</h2>
          <p>Place an Order for Pick Up</p>
          <p><a class="btn btn-primary" href="#" role="button">Order Now &raquo;</a></p>
       </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; The Bobcat Food Truck 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
